@import "variables";

.blink {
  animation: blinking ease-in 1.5s 2;
}

@keyframes blinking {
  0% {
    background-color: #FFFFFF;
  }
  50% {
    background-color: $light-green;
  }
  100% {
    background-color: #FFFFFF;
  }
}
