@import "@/styles/variables.scss";

.filters {
  display: flex;
  justify-content: center;
  align-items: center;

  :deep(> * + *) {
    margin-left: $margin-right;
  }

  :deep(.el-date-editor) {
    flex-grow: 0;
  }
}
