@import "variables";

.ml-1 {
  margin-left: $padding;
}

.px-1 {
  padding-right: $padding;
  padding-left: $padding;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.my-2 {
  margin-top: 10px;
}

.my-3 {
  margin-top: 15px;
}

.text-left {
  text-align: left;
}

.text-grey {
  color: gray;
}

.d-flex {
  display: flex;
}
