@import "variables";

.ml-1 {
  margin-left: $padding;
}

.px-1 {
  padding-right: $padding;
  padding-left: $padding;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.text-left {
  text-align: left;
}
