@import "variables";

.buttons {
  text-align: right;
}

.el-alert.empty ::v-deep .el-alert__content {
  flex: 1;

  .el-alert__description {
    text-align: right;
  }
}

.page {
  max-width: $max-width;
  margin: 0 auto;
  text-align: left;

  > * + * {
    margin-top: $margin-right;
  }
}
