@import "variables";

.list-group-item {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

.el-button.positions {
  padding: 0;
}

.right {
  text-align: right;
  margin-left: $margin-right;
}
