@import "variables";

.list-group-item {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.right > * {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  span {
    margin: 0 $padding;
  }
}

.cts {
  font-size: smaller;
  color: $gray;
}
