@import "styles/variables";
@import "styles/lists";
@import "styles/element-ui";
@import "styles/buttons";
@import "styles/animations";
@import "styles/helpers";

body {
  //font-family: "Helvetica Neue", Arial, sans-serif;
}

.list-group {
  @include list-group($border-radius, $list-cell-borders,
          $gray-background, $dark-gray, $margin-top, $primary-color, $white, $padding);
}

// fix for double tap to select option bug
.el-scrollbar {
  > .el-scrollbar__bar {
    opacity: 1;
  }
}

.el-drawer__body .container.resize {
  padding-top: 0;
  padding-bottom: 0;
}

.el-drawer__header {
  margin-bottom: 20px;
}

body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  overflow: hidden;
}
